body {
	margin: 25px;
}

.menu {
  background-color: #ffffff;
  border: 0px solid #ffffff;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 18px 9px;
  margin: 0px;
  box-shadow: 2px 2px 2px 2px #f5f5f5;
  min-width: 940px;
}

h3 {
	margin-top: 0px;
}

h4 {
	text-decoration: underline;
}

.content {
	-webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
	-webkit-box-shadow:  0px 3px 3px 3px rgba(0, 0, 0, .1);
    box-shadow:  0px 3px 3px 3px rgba(0, 0, 0, .1);
    padding: 20px;
    font-size: 14px;
    width: 935px;
    margin: 0px auto;
}

.menu div {
	float: left;
	margin-right: 4px;
}

select[multiple] {
	width: 905px;
}

.submit input {
	top: 2px;
	right: 5px;
	position: relative;
	float: right;
}

.menu div.submit {
	float: right;
}

.inner-menu {
	float: left;
	width: 850px;
	margin-left: 15px;
}

.clear {
	clear: both;
	float: none !important;
}

.multiselect {
	display: inline-block;
	height: 200px;
	width: 900px;
	padding: 4px 6px;
	margin-bottom: 9px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: auto;
	background-color: #ffffff;
	box-shadow: 2px 2px 2px 2px #f5f5f5;
}
 
.multiselect label {
    display:block;
}
 
.multiselect-on {
    color: #ffffff;
    background-color: #0495d1;
}

input[type="checkbox"] {
	margin: 3px 10px 3px 3px;
}

.advanced-link {
	text-align: right;
	position: relative;
	top: 20px;
	right: 5px;
	font-size: 11px;
}

div#contact span.gc-cs-link {
	color: #ffffff;
	text-decoration: none;
}

div#main-content span.gc-cs-link {
	color: #333333;
	text-decoration: none;
}

label {
	display: inline;
	margin-bottom: auto;
	margin: 5px;
	color: #464646;
	font-size: 14px;
	font-family: 'Open Sans',sans-serif;
	font-weight: bold;
}

select {
	width: auto;
	color: #0495d1;
	font-size: 14px;
	font-family: 'Open Sans',sans-serif;
	font-weight: bold;
	border: 1px solid #b7b7b7;
	background-color: #ffffff !important;
}

form div div select {
	max-width: 400px;
}

p.footnote {
	font-style: italic;
	font-size: 12px;
}
div.index h3 {
	margin: 10px 0px 5px 15px;
}
