/* compare50 css */

body {
margin: 0;
padding: 0;
background: url(/layouts/img/compare50_bg_03.png) top left repeat;
font-family: 'Open Sans',sans-serif;
}
.clear {
clear: both;
}
#main-container {
width: 960px;
margin: 0 auto;
}
#main-content {
padding: 15px 30px;
}
#header {
position: relative;
height: 97px;
}
#logo {
float: left;
}
#body {
margin: 0px;
position: relative;
}
/*------------------------------------*\
	NAV
\*------------------------------------*/
#nav{
	list-style:none;
	font-weight:bold;
	margin: 0px;
	/* Clear floats */
	float:left;
	width:100%;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}
#nav li{
	float:left;
	position:relative;
}
#nav, #nav a{
	font-family: 'Open Sans', sans-serif;
	color: #454648;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 3px 3px 3px #fff;
}
#nav a:hover{
	text-decoration: none;
}

/*--- DROPDOWN ---*/
#nav ul{
	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	/*background: url(/layouts/img/compare50_header_25.png) bottom left repeat-x; /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 40px;
	margin: 17px 0px 0px 0px;
	-webkit-box-shadow: 3px 3px 3px 3px rgba(155, 155, 155, .1);
	box-shadow: 3px 3px 3px 3px rgba(155, 155, 155, .1);
}
#nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 0px;
	text-align: left;
}
#nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
	color: #46b1db;
	font-weight: normal;
	text-transform: none;
	text-align: left;
}
#nav ul li.active {
	background: url(/layouts/img/compare50_menu_bg_active.png) top center no-repeat;
}
#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */

}
#nav li#menu-demographics ul {
	min-width: 120px;
}
#menu {
background: transparent url(/layouts/img/compare50_header_25.png) top left repeat-x;
width: 959px;
height: 58px;
}
#menu .menu-item {
float: left;
background: transparent url(/layouts/img/compare50_header_25.png) top left repeat-x;
height: 42px;
/*This didn't work in Chrome: padding: 15px 35px 0 35px; */
padding: 16px 0 0 0 ;
text-align: center;
font-family: 'Open Sans', sans-serif;
color: #454648;
z-index: 20;
}
#menu-economy {
width: 180px
}
#menu-innovation {
width: 180px
}
#menu-jobs {
width: 102px
}
#menu-income {
width: 200px
}
#menu-demographics {
width: 180px
}
#menu-index  {
width: 116px
} 
#menu .menu-item a:hover {
text-decoration: none;
}
#menu .menu-item.active  {
background: #F5F7F7 url(/layouts/img/compare50_menu_bg_active.png) top center no-repeat;
}
#menu .menu-item:hover {
background: #F5F7F7 url(/layouts/img/compare50_menu_bg_on.png) top center no-repeat;
z-index: 9999;
}
#menu li.checked {
	background: transparent url('/layouts/img/checkmark.png') left center no-repeat;
}
#quicklinks {
color: #d0d1d2;
position: absolute;
top: 34px;
right: 104px;
font-family: Georgia, serif;
font-size: 13px;
}
#quicklinks a {
font-family: Georgia, serif;
color: #7b7c7c;
text-decoration: none;
font-style: italic; 
text-transform: uppercase;	
padding: 0 10px;
}
#beta {
position: absolute;
top: 0;
right: 0;
}
#divider {
background: url(/layouts/img/compare50_header_15.png) top left repeat-x;
height: 2px;
width: 100%;
}
.video-button {
position: absolute;
top: 198px;
left: 60px;
}
#footer a {
color: #ffffff;
}
.footer-wrapper {
width: 960px;
margin: 0 auto;
color: #ffffff;
position: relative;
}
#footer-top {
background: url(/layouts/img/compare50_details_65.png) top left repeat;
font-family: Georgia, serif;
}
#footer-bottom {
background: url(/layouts/img/compare50_details_74.png) top left repeat;
}
#brand, #contact {
width: 250px;
float: left;
margin: 40px 10px 30px 10px;
}
#contact img {
margin: 0 0 0 -3px;
}
#about, #copy {
width: 650px;
float: left;
margin: 40px 10px 55px 10px;
}
#about h3 a {
color: #f4c00d;
}
#footer-social-buttons {
position: absolute;
top: 40px;
right: 300px;
}
#contact h3 {
color: #898989;
font-style: italic;
font-size: 27px;
}
#contact p {
font-family: 'Open Sans', sans-serif;
font-size: 14px;
}
#about h3 {
color: #f4c00d;
font-style: italic;
font-size: 27px;
}
.footer-label {
color: #898989;
}
.next-button, .prev-button {
width: 478px; 
float: left;
position: relative;
height: 140px;
}
.next-button {
text-align: right;
}
.arrows {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 110px;
color:#AAA79F;
font-weight: normal;
position: absolute;
top: 40px;
}
.arrows a {
color: #d4d4d2;
}
.arrows a:hover {
color:#AAA79F;
}
.next-button .arrows {
right: 0;
}
.prev-button .arrows {
left: 0;
}
.over-button {
font-family: Georgia, serif;
font-style: italic;
font-size: 19px;
color: #aaa79f;
position: absolute;
top: 20px;
width: 460px;
}
.next-button .over-button {
right: 0px;
padding-right: 35px;
text-align: center;
}
.prev-button .over-button {
left: 0px;
padding-left: 35px;
text-align: center;
}
.button-text {
font-size: 30px;
color: #454648;
font-family: 'Open Sans',sans-serif;
font-weight: bold;
text-shadow: 3px 3px 3px #FFFFFF;
text-transform: uppercase;
position: absolute;
top: 52px;
width: 460px;
}
.button-text a {
color: #454648;
}
.next-button .button-text {
text-align: center;
padding-right: 35px;
right: 0;
}
.prev-button .button-text {
text-align: center;
padding-left: 35px;
left: 0;
}
#bottom-buttons {
border-top: 4px double #c9cbcd;
}
.next-button {
border-left: 1px solid #c9cbcd;
}
#bottom-buttons a, #bottom-buttons a:hover {
text-decoration: none;
line-height: 28px;
}
#left-column {
width: 500px;
float: left;
padding: 20px 10px 10px 10px;
background: url("/layouts/img/compare50_bg_03.png") repeat scroll left top transparent;
}
#right-column {
float: left;
width: 400px;
padding: 20px 10px 10px 10px;
background: url("/layouts/img/compare50_bg_03.png") repeat scroll left top transparent;
}
.article span {
color: #babbbb;
}
.article span a {
color: #454648;
}
.article span#date {

}
.article span#title {
font-weight: bold;
line-height: 1.5em;
font-size: 110%;
display: block;
}
.article span#source {

}
.article span#blurb {
display: block;
color: #454648;
line-height: 1.2em;
}
.article span#link {

}
.home-bottom {
background: url("/layouts/img/compare50_bg_03.png") repeat scroll left top transparent;
}
#follow {
position: relative;
}
#social-buttons {
position: absolute;
top: 0;
right: 15px;
}
#about-info {
float: right;
width: 605px;
margin: 0 30px 20px 10px;
}
#stats {
width: 900px;
height: 0px;
float: left;
visibility: hidden;
margin: 0px;
}
.stats-show {
visibility: visible !important;
height: auto !important;
margin: 0px 30px 30px 30px !important;
}
#notes-link {
clear: both;
padding: 30px;
display: block;
}
#graph-info {
float: left;
width: 250px;
margin: 0 10px 20px 30px;
}
#headline h3 {
line-height: 1.4em;	
}
#headline {
padding: 0 0 30px 0;
}
#right-column h4 {
text-decoration: none;
padding: 0 0 10px;
border-bottom: 1px solid #C9CBCD; 
}
.timeline-header {
display: none;
}
.overline{
text-decoration: overline;
}
form {
float: left;
width: 950px;
}
.index {
	background: whiteSmoke;
}
.demo {
	margin-bottom: 75px;
}
.index h2, .demo h3 {
	border-bottom: 1px solid #dddddd;
	margin-top: 30px;
}
.index h3, .index a {
	margin-left: 15px;
}
.breadcrumb {
	margin: 0px; 
	font-size: 12px;
	line-height: normal;
}
.breadcrumb a {
	text-transform: 	uppercase;
}
.slightly-bigger {
	font-size: 120%;
}
blockquote {
	padding: 15px 0 0 15px;
	letter-spacing: 1px;
}
.twitter-box {
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #e8e8e8;
	border-color: rgba(0,0,0,0.1);
	border-radius: 5px;
}
.twitter-header {
	padding: 12px;
	border-bottom: 1px solid #e8e8e8;
	border-bottom-color: rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 0 -3px rgba(0,0,0,0);
	-moz-box-shadow: 0 0 0 -3px rgba(0,0,0,0);
	box-shadow: 0 0 0 -3px rgba(0,0,0,0);
	-webkit-transition: -webkit-box-shadow .3s ease-out;
	-moz-transition: -moz-box-shadow .3s ease-out;
	-ms-transition: box-shadow .3s ease-out;
	-o-transition: box-shadow .3s ease-out;
	transition: box-shadow .3s ease-out;
	font-weight: bold;
	font-size: 18px;
}
.twitter-header span{
	float: left;
	width: auto;
}
.twitter-header a {
	float: right;
}
.btn {
	cursor: pointer;
}
.btn .label {
	padding: 0 3px 0 3px;
	white-space: nowrap;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	background-color: transparent;
	color: #333333;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	line-height: 1;
}
.btn i {
	float: left;
	width: 16px;
	height: 13px;
	background: transparent url(https://platform.twitter.com/widgets/images/btn.27237bab4db188ca749164efd38861b0.png) 0 0 no-repeat;
}
.twitter {
	padding: 12px 12px 10px 69px;
	border-bottom: 1px solid #e8e8e8;
	border-bottom-color: rgba(0,0,0,0.1);
}
.twtr-widget-profile img.twtr-profile-img {
	height: auto !important;
	width: auto !important;
	border-radius: 4px;
}
img.twtr-profile-img {
	margin-right: 12px !important;
}
.twtr-tweet-text p em a {
	font-size: 10px !important;
	font-style: italic;
	margin-right: 5px !important;
}
a.twtr-user {
	margin-right: 5px !important;
}
#twtr-widget-1 .twtr-doc, #twtr-widget-1 .twtr-hd a, #twtr-widget-1 h3, #twtr-widget-1 h4, #twtr-widget-1 .twtr-new-results, #twtr-widget-1 .twtr-results-inner, #twtr-widget-1 .twtr-timeline {
	background-color: #ffffff !important;
}
#twtr-widget-1, a.twtr-user, .twtr-tweet-text {
	text-decoration: none;
	float: left;
	font-size: 14px;
}
#twtr-widget-1 .twtr-bd, #twtr-widget-1 .twtr-timeline i a, #twtr-widget-1 .twtr-bd p {
	position: relative;
	margin-top: -63px;
	margin-left: 63px;
	height: 75px;
}
.twtr-ft {
	display: none;
}
.twtr-hd {
	padding: 12px !important;
}
#choices, #priorities {
        list-style-type: none; 
        margin: 0; 
        padding: 0; 
        float: left; 
        margin-right: 10px; 
        padding: 5px; 
        width: 460px;
}
#choices li, #priorities li {
        margin: 5px;
        padding: 5px;
        font-size: 1.2em;
}
#choices li:hover, #priorities li:hover {
        cursor: move;
}
.left-list .right-list {
}
.left-list {
        float: left;
}
.right-list {
        float: right;
        left: 50%;
        /*position: fixed;*/
        position: absolute;
}
.right-list-button {
        width: 460px;
        text-align: right;
        padding: 10px 5px;
}
#priorities {
        background: #333333;
        min-height: 410px;
}
